/* .profile{
    object-fit:fill;
    width:60px;
    height:60px;
} */

.comment_content{
    width: 100%;
} 
.icons{
    font-size: 15px;
    float: right;
    cursor: pointer;
    padding: 5px;
}

form{
    border-radius: 50%;
}