<app-navbar></app-navbar>
<div class="container-fluid blog_header">

        <p class="fw-bold fs-2 mt-3 ms-4 me-4 pb-3 mb-5">
            All Blogs
        </p>

        <input type="text" class="form-control search" id="search" placeholder="Search blog"
            [(ngModel)]="titleSearch">

</div>
<div class="container-fluid blog">
    <div class="row">

        <div class="col-sm-4 card_padding" *ngFor="let blog of listBlogs | filter:titleSearch">
            <a [routerLink]="['/blogs/blogtitle', blog._id]" target="_self" class="cardlink">
                <div class="card h-100">
                    <img [src]="blog.imageUrl||defaultimage" class="card-img-top" alt="..." width="300px"
                        height="230px">
                    <div class="card-body">
                        <h5 class="card-title fw-bold text-dark">{{blog.title}}</h5>
                        <a [routerLink]="['/blogs/blogtitle', blog._id]" class="btn btn-primary" target="_blank">View
                            Blog</a>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<app-footer></app-footer>