.inner {
    overflow: hidden;
    cursor: pointer;
  }

  .allblogs{
    font-size: 50%;
    float: right;
  }
  
  .inner img {
    transition: all 0.5s ease;
  }
  
  .inner:hover img {
    transform: scale(1.05);
  }
  
  .blog_header span{
      font-size: 18px;
      font-weight: 600;
  
  }
  .allblogs{
      text-decoration: none;
  }

  .title_blog{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
  }